<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon_black.png" type="image/x-icon">
    <link rel="stylesheet" href="css/basic_style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>StandUp - О нас</title>
</head>
<body>

    <header class="header">
        <div class="conteiner">
            <div class="header_flex">
                <div class="header_logo">
                    <img class="logo" src="img/WhiteSUz_wof_Png 2.svg" alt="Stadup">
                </div>
                <div class="header_menu">
                    <ul class="header_menu_ul">
                        <li><a class="menu_notActiv" href="index.html">Афиша</a></li>
                        <li><a class="menu_activ" href="#">О проекте</a></li>
                    </ul>
                </div>
                <div class="header_right">
                    <div class="header_right_phone">
                        <a href="tel:+998333333333">+ 998 33 333 33 33</a>
                    </div>
                    <div class="header_right_contacts">
                        <a href="#"><img src="img/Instagram.svg" alt=""></a>
                        <a href="#"><img src="img/Telegram.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>