<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cards" style="background: image">
    <div class="conteiner">
        <div class="card_grid">
            <div class="item">
                <div class="places"></div>
                <div class="info"></div>
            </div>
            <div class="item">
                <div class="places"></div>
                <div class="info"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>