bot/.env
standupuz_web/.env
docker/.env
/data
*.env
*.log
*.json
.idea/
.vscode/
*.db
*/__pycache__/
/standupuz_web/media/
.idea
data.zip
logs/
media/
/nginx/conf.d/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
# venv
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
*.egg-info/
pip-wheel-metadata/

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/
nosetests.xml
coverage.xml

# Logs and databases
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# React / Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist

# VS Code

# PyCharm
*.iml

# Miscellaneous
.DS_Store
Thumbs.db

# Exclude all Python bytecode cache directories
**/__pycache__/
**/*.py[cod]

# Exclude all PyCharm project metadata folders
**/.idea/
*/migrations/
/standupuz_web/events/migrations

