/* src/styles/common.module.css */
/* src/pages/Home/Home.module.css */
/* .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:  url('/images/fox.png') no-repeat center center;
    /* background: #000; по вкусу */
  /* } */ 
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url('../images/fox.png') no-repeat center center;
    background-size: contain;
  }

  @keyframes bounceX {
    from { transform: translateX(0); }
    to   { transform: translateX(calc(100% - 8ch)); }
  }
  @keyframes bounceY {
    from { transform: translateY(0); }
    to   { transform: translateY(calc(100vh - 2em)); }
  }
  
  .title {
    position: absolute;
    top: 0;
    left: 10%;
    color: rgb(244, 160, 5);
    font-size: 5rem;
    white-space: nowrap;
    animation:
      bounceX 6s linear infinite alternate,
      bounceY 4s linear infinite alternate;
  }