:root {
    --text1: rgba(247, 225, 226, 1);
    --text2: rgba(0, 0, 0, 1);
}

body {
    background-color: rgba(153, 63, 67, 1);
}

.header {}

.conteiner {
    max-width: 1412px;
    width: 100%;
    margin: 0 auto;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.header_logo {}

.logo {}

.header_menu {}

.header_menu_ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header_menu_ul a {
    color: var(--text1);
    font-size: 20px;
}

.menu_activ {
    font-weight: 700;
}

.menu_notActiv {
    text-decoration: none;
    font-weight: 500;
}

.header_right {
    text-align: right;
    padding-right: 10px;
}

.header_right_burger {
    display: none;
}

.header_right_phone {
    padding-bottom: 20px;
}

.phone a {
    text-decoration: none;
    color: var(--text1);
    font-size: 20px;
    font-weight: 500;
}

.header_right_contacts a:last-child {
    margin-left: 16px;
}

.cards_grid {
    padding-top: 36px;
    padding-bottom: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 46px;
}

.item {
    border: 2px solid rgba(247, 225, 226, 1);
    border-radius: 10px;
    min-height: 440px;
    max-width: 440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
}

.places {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: rgba(247, 225, 226, 1);
    line-height: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 0 8px 8px;
}

.date {
    font-weight: 700;
    font-size: 16px;
    color: rgba(153, 63, 67, 1);
}

.day {
    font-weight: 700;
    font-size: 12px;
    color: rgba(153, 63, 67, 1);
}



.about_flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.about {
    color: rgba(247, 225, 226, 1);
    flex: 1;
    display: flex;
}
.about-h3 {
    font-weight: 700;
    font-size: 32px;
    padding-top: 46px;
}
.about-ul {
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    padding-left: 30px;
    padding-top: 20px;
    margin-bottom: 25px;
}
.about-ul li {
    list-style: disc; 
}
.aLinkLi {
    color: rgba(247, 225, 226, 1);
}
.about-p {
    font-weight: 500;
    font-size: 20px;
}

.cards_mob {
}
.card_mob_img {
}
.card_mob_p {
}
.card_mob_footer {
    display: flex;
    gap: 5px;
}
.card_mob_btn_tg {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: rgba(247, 225, 226, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(128, 52, 56, 1);
}
.card_mob_btn_copy {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: rgba(247, 225, 226, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgba(128, 52, 56, 1);
    margin-bottom: 0;
    width: 100%;
}

.footer_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    gap: 20px;
}

.header_right_contacts {}

.modal-close {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 49px;
    padding-right: 17px;
}

.content_flex {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.content_left {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
.mod_footer {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.btn_tg {
    width: 263px;
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(180deg, #993F43 0%, #803438 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(247, 225, 226, 1);
}
.btn_copy {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background: linear-gradient(180deg, #993F43 0%, #803438 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

